/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <dt-bindings/zmk/bt.h>
 #include <dt-bindings/zmk/rgb.h>
 #include <dt-bindings/zmk/ext_power.h>
 #include <dt-bindings/zmk/outputs.h>

 #define DEFAULT 0
 #define LOWER  1
 #define RAISE  2
 #define ADJUST 3

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/

/ {
       keymap {
              compatible = "zmk,keymap";
 
              default_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |  CAPS  |   1    |   2    |   3    |   4    |   5    |                                      |   6    |   7    |   8    |   9    |   0    |  INS   |
 // |  TAB   |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
 // |  CTRL  |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |  RET   |
 // |  LGUI  |   Z    |   X    |   C    |   V    |   B    | SPACE  |                    |  SPACE |   N    |   M    |   ,    |   .    |   /    |  RGUI  |
 // |  LCTRL | GRAVE  |  NUBS  |  RAISE |  LALT  | LOWER  | LSHIFT |                    | RSHIFT | LOWER  |  RALT  |  RAISE |  NUBS  |   '    | RSHIFT |
                     bindings = <
       &kp CAPS   &kp N1    &kp N2   &kp N3    &kp N4    &kp N5                                 &kp N6    &kp N7    &kp N8    &kp N9     &kp N0    &kp INS
       &kp TAB    &kp Q     &kp W    &kp E     &kp R     &kp T                                  &kp Y     &kp U     &kp I     &kp O      &kp P     &kp BSPC
       &kp ESC    &kp A     &kp S    &kp D     &kp F     &kp G                                  &kp H     &kp J     &kp K     &kp L      &kp SEMI  &kp RET
       &kp LGUI   &kp Z     &kp X    &kp C     &kp V     &kp B     &kp SPACE         &kp SPACE  &kp N     &kp M     &kp COMMA &kp PERIOD &kp SLASH &kp RGUI
       &mo LCTRL  &kp GRAVE &kp NUBS &mo RAISE &kp LALT  &mo LOWER &kp LSHIFT        &kp RSHIFT &mo LOWER &kp RALT  &mo RAISE &kp NUHS   &kp SQT   &kp RCTRL
                     >;
              };
              lower_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |      |      |      |      |      |      |                                  |      |      |      |      |      |      |
 // |  ~   |  !   |  @   |  #   |  $   |  %   |                                  |  ^   |  &   |  *   |  (   |  )   |      |
 // |      |      |      |      |      |      |                                  |      |  _   |  +   |  {   |  }   | PIPE |
 // |      |      |      |      |      |      |  (   |                    |  )   |      |      |      | HOME | END  |      |
 // |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
                     bindings = <
       &bt BT_CLT &bt BT_SEL 0      &bt BT_SEL 1     &bt BT_SEL 2      &bt BT_SEL 3    &bt BT_SEL 4                     &trans          &trans          &trans          &trans          &trans &trans
       &bt BT_NXT &trans            &trans           &rgb_ug RGB_BRI   &trans          &trans                           &trans          &trans          &rgb_ug RGB_SPI &trans          &trans &trans 
       &bt BT_PRV &trans            &rgb_ug RGB_HUI  &rgb_ug RGB_BRD   &rgb_ug RGB_HUD &trans                           &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_SPD &rgb_ug RGB_EFD &trans &trans
       &trans     &out OUT_TOG      &out OUT_USB     &out OUT_BLE      &trans          &trans       &trans     &trans   &trans          &trans          &trans          &trans          &trans &trans
       &trans     &ext_power EP_TOG &ext_power EP_ON &ext_power EP_OFF &trans          &trans       &trans     &trans   &trans          &trans          &trans          &trans          &trans &trans
                     >;
              };
              raise_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |  BT CLR  | BT SEL0  | BT SEL1  | BT SEL2  | BGT SEL3 | BT SEL4  |                                          |          |          |          |          |          |          |
 // |  BT NXT  |          |          |  BR-     |          |          |                                          |          |          | RGB SP+  |          |          |          |
 // |  BT PRV  |          |  HUI+    |  BR+     |  HUI-    |          |                                          | RGB TOG  | RGB EF+  | RGB SP-  | RGB EF-  |          |          |
 // |          |  OUT_TOG | OUT_USB  |  OUT_BLE |          |          |          |                    |          |          |          |          |          |          |          |
 // |          |  EP_TOG  | EP_ON    |  EP_OFF  |          |          |          |                    |          |          |          |          |          |          |          |
                     bindings = <
       &kp F1    &kp F2     &kp F3     &kp F4    &kp F5        &kp F6                       &kp F7    &kp F8 &kp F9 &kp F10 &kp F11  &kp F12
       &kp PSCRN &trans &trans   &kp PG_UP   &kp UNDER &kp LBRC                              &kp RBRC  &kp MINUS &kp UP    &trans    &trans  &kp DEL
       &trans    &trans &kp HOME &kp PG_DN &kp END   &kp LBKT                              &kp RBKT  &kp LEFT  &kp DOWN  &kp RIGHT &trans  &trans
       &kp LGUI  &trans &trans   &trans      &kp PLUS  &kp LPAR &trans            &trans     &kp RPAR  &kp EQUAL &trans    &trans    &trans  &kp RGUI
       &kp LCTRL &trans &trans   &trans      &kp LALT  &trans   &kp LSHIFT        &kp RSHIFT &trans    &kp RALT  &trans    &trans    &trans  &kp RCTRL
                     >;
              };
              adjust_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |    `     |    !     |    @     |    #     |    $     |    %     |                                          |    ^     |    &     |    *     |    (     |    )     |  EP TOG  |
 // |  BT CLR  | BT SEL0  | BT SEL1  | BT SEL2  | BGT SEL3 | BT SEL4  |                                          | RGB EFF+ | RGB HUE+ | RGB SAT+ | RGB SPD+ | RGB BRI+ | RGB TOG  |
 // |  BT NXT  | OUT TOG  | OUT USB  | OUT BLE  |          |          |                                          | RGB EFF- | RGB HUE- | RGB SAT- | RGB SPD- | RGB BRI- |          |
 // |  BT PRV  |          |          |          |          |          |    {     |                    |    }     |          |          |          |          |          |          |
 // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |
                     bindings = <
       &trans &trans &trans &trans &trans &trans                      &trans &trans &trans &trans &trans &trans
       &trans &trans &trans &trans &trans &trans                      &trans &trans &trans &trans &trans &trans
       &trans &trans &trans &trans &trans &trans                      &trans &trans &trans &trans &trans &trans
       &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans
       &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans    
                     >;
              };
       };
};